---
import Layout from "../../layouts/Layout.astro";
export const prerender = false;

const ingredients = await Astro.locals.pb.collection("Ingredients").getFullList;
---
<Layout titre="Ingrédients">
    <h1>Liste des ingrédients</h1>
    
</Layout>