@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rampart+One&display=swap');
@import "tailwindcss";

@theme {
    /* Typo */
    --font-rampart: "Rampart One", serif;
    --font-comforta: "Comfortaa", sans-serif;

    /* Couleurs */
    --color-beige: #ffeea8;
    --color-bleu: #222781;
    --color-vert: #c8d69b;
}

@layer base {
    * {
        font-family: var(--font-comforta);
    }

    h1 {
        font-family: var(--font-rampart);
        color: var(--color-bleu);
        text-align: center;
        font-size: 4rem;
    }

    h2 {
        font-family: var(--font-comforta);
    }

    p {
    font-family: var(--font-comforta);
    font-size: 1rem;
  }
}