---
export const prerender = false
import Layout from "../../layouts/Layout.astro";
import CardCoach from "../../components/Card_coach.astro";
import type { UsersResponse } from "../../pocketbase-types";

const url = new URL(Astro.request.url);
const search = url.searchParams.get("s") ?? "";

const coachs = await Astro.locals.pb.collection("users").getFullList<UsersResponse>({
    filter: 'coach = true',
});

const coachsFilter = search 
? coachs.filter(i => i.name.toLowerCase().includes(search.toLowerCase()) 
    || i.surname.toLowerCase().includes(search.toLowerCase())
    || i.pseudo.toLowerCase().includes(search.toLowerCase())) 
: [];
---
<Layout titre="Coachs" color="beige">
    <h1 class="mt-20">Coachs</h1>
    <form action="/coachs" method="get" class="flex w-8/10 h-fit justify-center place-items-center place-self-center mb-20">
        <input 
            type="search"
            name="s"
            value={search}
            placeholder="Rechercher un coach..."
            class="grid w-2/3 border-2 border-bleu rounded-lg bg-white my-5 mx-auto px-2 py-1 font-comforta"
        />
        <button 
            type="submit"
            class="bg-bleu text-beige p-2 rounded-xl border hover:bg-beige hover:text-bleu transition-all duration-100 h-fit"
        >
            Chercher
        </button>
    </form>
    {search ? (
        coachsFilter.length === 0 ? (
            <p class="bg-beige text-bleu border-2 border-bleu rounded-xl mx-auto mb-12 p-1 text-center w-9/10">
                Aucun coach disponible pour le moment.
            </p>
            ):(
            <ul class="w-9/10 mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 justify-items-center">
                {coachsFilter.map((coach) => (
                    <li class="w-fit mx-auto"><CardCoach coach={coach} /></li>
                ))}
            </ul>
            )
    ):(
        coachs.length === 0 ? (
        <p class="bg-beige text-bleu border-2 border-bleu rounded-xl mx-auto mb-12 p-1 text-center w-9/10">
            Aucun coach disponible pour le moment.
        </p>
    ) : (
        <ul class="w-9/10 mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 justify-items-center">
            {coachs.map((coach) => (
                <li class="w-fit mx-auto"><CardCoach coach={coach} /></li>
            ))}
        </ul>
    ))}
</Layout>