---
import Layout from "../layouts/Layout.astro";


if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  if (data.has("deconnexion")) {
    Astro.locals.pb.authStore.clear();
    Astro.response.headers.append(
      "set-cookie",
      Astro.locals.pb.authStore.exportToCookie()
    );
  }
  try {
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    const surname = data.get("surname") as string;
    const name = data.get("name") as string;
    const passwordConfirm = data.get("passwordConfirm") as string;
    const action = data.get("action") as string;

    if (action === "inscription")
    {
      await Astro.locals.pb.collection("users").create({
        email,
        password,
        surname,
        name,
        passwordConfirm: password,
      });
      await Astro.locals.pb.collection("users").authWithPassword(email, password);
      Astro.response.headers.append(
        "set-cookie",
        Astro.locals.pb.authStore.exportToCookie()
      );
    }else
    {
      await Astro.locals.pb.collection("users").authWithPassword(email, password);
      Astro.response.headers.append(
        "set-cookie",
        Astro.locals.pb.authStore.exportToCookie()
      );
    }
  } catch (error) {
      if (error instanceof Error) {
        console.error(error.message);
      }
    }
  }
    
  
---

<Layout titre="Connexion">
  {Astro.locals.pb.authStore.isValid ? (
    <h1 class="my-40">Connection réussie !</h1>
    <div class="h-full w-lvw place-content-center justify-center *:w-fit *:mx-auto *:my-5">
      <h2 class="text-3xl">Connecté en tant que <span class="font-bold">{Astro.locals.pb.authStore.record.surname} {Astro.locals.pb.authStore.record.name}</span></h2>
      <p>Aller à votre <a href="/profil" class="text-bleu font-bold underline hover:text-bleu/80 hover:decoration-0">profil</a></p>
      <form method="post">
        <input type="hidden" value="1" name="deconnexion" />
        <button class="bg-bleu text-beige p-2 border rounded-xl hover:bg-beige hover:text-bleu cursor-pointer">
          Se deconnecter
        </button>
      </form>
    </div>
  ) : (
    <div id="connexion-section">
      <h1 class="mt-36">Connexion</h1>
      <form method="post" class="flex flex-col *:w-9/10 mx-auto *:mx-auto">
          <div class="flex flex-col my-20 *:mx-auto *:w-8/10">
            <input
              type="email"
              name="email"
              autocomplete="email"
              placeholder="Adresse mail"
              class="peer font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg  mb-2.5 invalid:border-red-400 invalid:text-red-400"
            />
            <p class="hidden -mt-2 peer-invalid:block">Adresse mail invalide</p>
            <input
              type="password"
              name="password"
              minlength="5"
              placeholder="Mot de passe"
              class="pwd font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg invalid:border-red-400 invalid:text-red-400"
            />
            <p class="hidden pwd-invalid:block">Adresse mail invalide</p>
          </div>
        <button class="text-beige bg-bleu font-bold text-xl w-full rounded-xl py-0.5 cursor-pointer">
          Se connecter
        </button>
        
        <div class="flex items-center w-9/10 mx-auto my-4">
          <hr class="flex-1 border-bleu" />
          <p class="px-3 text-center text-3xl">ou</p>
          <hr class="flex-1 border-bleu" />
        </div>

        <button class="changeMode text-beige bg-bleu font-bold text-xl w-9/10 mx-auto block rounded-xl py-0.5 cursor-pointer">
          S'inscrire
        </button>
      </form>
    </div>

    <div id="inscription-section" class="hidden ">
      <h1 class="mt-36">Inscription</h1>
      <form method="post" class="flex flex-col *:w-9/10 mx-auto *:mx-auto">
        <div class="flex flex-col my-20 *:mx-auto *:w-8/10">
          <div class="flex w-full *:flex-1 gap-2.5 *:min-w-0">
            <input type="hidden" name="action" value="inscription">
            <input
              type="text"
              name="name"
              placeholder="Nom"
              class="font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg mb-2.5"
              required
            />
            <input
              type="text"
              name="surname"
              placeholder="Prénom"
              class="font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg mb-2.5"
              required
            />
          </div>

          <input
            type="email"
            name="email"
            autocomplete="email"
            placeholder="Adresse mail"
            class="peer font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg mb-2.5 invalid:border-red-400 invalid:text-red-400"
            required
          />
          <p class="hidden -mt-2 peer-invalid:block">Adresse mail invalide</p>
          <input
            type="password"
            name="password"
            minlength="5"
            autocomplete="current-password"
            placeholder="Mot de passe"
            class="font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg mb-2.5"
            required
          />
          <input
            type="password"
            name="passwordConfirm"
            minlength="5"
            autocomplete="current-password"
            placeholder="Confirmer le MDP"
            class="font-comforta px-2 py-3 border-2 border-bleu bg-white rounded-lg"
            required
          />
        </div>

        <button class="text-beige bg-bleu font-bold text-xl w-full rounded-xl py-0.5 cursor-pointer">
          S'inscrire
        </button>

        <div class="flex items-center w-9/10 mx-auto my-4">
          <hr class="flex-1 border-bleu" />
          <p class="px-3 text-center text-3xl">ou</p>
          <hr class="flex-1 border-bleu" />
        </div>

        <button class="changeMode text-beige bg-bleu font-bold text-xl w-9/10 mx-auto block rounded-xl py-0.5 cursor-pointer">
          Se connecter
        </button>
      </form>
    </div>
  )}

  <script>
    const buttons = document.querySelectorAll('.changeMode');
    const connexionSection = document.getElementById('connexion-section');
    const inscriptionSection = document.getElementById('inscription-section');

    buttons.forEach((button) => {
      button.addEventListener('click', (e) => {
        e.preventDefault();
        // @ts-ignore
        connexionSection.classList.toggle('hidden');
        // @ts-ignore
        inscriptionSection.classList.toggle('hidden');
      });
    });
  </script>
</Layout>

