---
import Layout from "../layouts/Layout.astro";
import Arrow from "../assets/arrow.svg";
---
<Layout titre = "Accueil">
	<div class="h-lvh">
		<h1 class="text-9xl text-bleu text-left w-9/10 mt-24 md:text-[13.75rem]">Envie de mieux manger</h1>
		<img class="mx-auto mt-20" src={Arrow.src} alt="fleche vers le bas" />
	</div>
	<section>
		
	</section>
</Layout>