---
import type { CommentairesResponse, UsersResponse } from '../pocketbase-types'
import ProgressBar from './Progress_bar.astro';

type CommentaireWithUser = CommentairesResponse & {
    expand?: {
        user?: UsersResponse;
    };
};

interface Props {
    com: CommentaireWithUser;
}
const { com } = Astro.props
---
<div class="bg-vert w-9/10 mx-auto rounded-xl p-3.5">
    {/* espace du haut */}
    <div class="flex justify-around">
        {/* Nom & statut */}
        <div class="flex-2">
            <a href="" class="text-xl text-bleu">{com.expand?.user?.name}</a>
            {
                com.expand?.user?.coach ? (
                <p class="text-sm">membre</p>
                ):(
                <p class="text-sm">coach</p>
                )
            }
        </div>
        <div class="flex flex-1 place-items-baseline">
            <ProgressBar note={com.note} color='vert' />
            <p>{com.note}/5</p>
        </div>
    </div>
    <p class="text-sm mt-5">{com.contenu}</p>
</div>