---
interface Props {
    note: number,
    color: string,
}
const { note, color = "beige" } = Astro.props;
const width = `${Math.max(0, Math.min(100, (note / 5) * 100))}%`;
---
<div class="w-full h-2.5 bg-bleu rounded-full">
    <div class=`h-2.5 bg-${color} border rounded-full border-bleu` style={`width: ${width};`} />
</div>