---
import CardRecette from "../../components/Card_recette.astro";
import Layout from "../../layouts/Layout.astro";
import { RecettesTypeOptions } from "../../pocketbase-types";
export const prerender = false;

const recettes = await Astro.locals.pb.collection("Recettes").getFullList();
const categories = Object.values(RecettesTypeOptions);
---
<Layout titre="Recettes">
    <h1 class="mt-20">Recettes</h1>
    <input type="search" class="grid w-2/3 border-2 border-bleu rounded-lg bg-white my-5 mx-auto px-2 py-1 font-comforta" placeholder="Rechercher">
    <div class="mx-auto w-fit mb-10">
        {
        categories.map((cat) => (
            <a
            href=""
            class="bg-bleu text-beige font-bold p-2.5 rounded-full mx-2.5 border hover:bg-beige hover:text-bleu transition-all duration-100"
            >
                {cat}
            </a>
        ))
        }
    </div>
     <ul class="flex flex-wrap place-self-center justify-self-center *:my-3 place-items-baseline">
        {recettes.map((recette) => (
            <li class="place-self-center justify-self-center mx-auto">
                <CardRecette recette={recette} />
            </li>
        ))} 
    </ul>
    { 
    Astro.locals.pb.authStore.isValid &&
    <a href="/recettes/edit/" class="text-3xl block bg-bleu text-beige p-3.5 w-fit justify-self-center mx-auto rounded-xl border hover:bg-beige hover:text-bleu transition-all duration-150">Ajouter une recette</a>
    }
   
</Layout>